{{ define "main" }}

<section class="about-page">
    <header class="page-header">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
    </header>

    <div class="image-text-block">
        <img src="/cfe152f67-carbon-neutral-brewery-img.webp" width="545px" height="445px" loading="lazy" alt="Zoom sur une bière sombre">
        <div class="info">
            <h2>La philosophie derrière le Raising Hops</h2>
            <p>LLe Raising Hops est un bar à bières indépendant, basé à Lille. Il propose de nombreuses bières pression ou en canette artisanales et locales pour découvrir l’univers de la bière, que vous soyez amateurs ou experts.</p>
            <p>Si vous n’aimez pas la bière, de nombreux cocktails et spiritueux ainsi que des boissons sans alcool sont proposés dans ce lieu qui se veut simple et chaleureux.</p>
        </div>
    </div>

    <div class="citation">
        <blockquote>
            "Satisfaire votre curiosité & votre soif de découverte."
        </blockquote>
        <cite>- Sylvain Bauvais, fondateur du Raising Hops</cite>
    </div>

    <div class="image-text-block reverse">
        <img src="/113d04e58ae5-invest-in-community-img.webp" width="545px" height="445px" loading="lazy" alt="Des gens qui boient un coup">
        <div class="info">
            <h2>Un bar parfait pour se lancer</h2>
            <p>Les bars à bières proposent en général un très large eventail de références, mais ces cas là on ne sait jamais vraiment quoi choisir, on se rabat sur ce que l'on connait déjà par peur d'être déçus. On ose rarement, on ne découvre pas vraiment.</p>
            <p>J’ai donc volontairement imaginé un bar à bières avec une sélection restreinte afin de laisser à chaque bière une place de choix aux yeux et aux papilles des gens.</p>
        </div>
    </div>
</section>

{{ end }}