{{ define "main" }}

<section class="about-page">
    <header class="page-header">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
    </header>

    <div class="image-text-block">
        <img src="/creation_raising_hops.webp" width="550px" height="550px" alt="Zoom sur une bière sombre">
        <div class="info">
            <h2>La création du Raising Hops</h2>
            <p>Le bar à été créé en 2023 par Sylvain, un ancien barman fatigué de servir de la Jupiler toute la journée.</p>
            <p>Son idée a donc été de lancer un bar qui mettrait en avant <b>la qualité plutôt que la quantité</b>, accessible aux non-initiés et légitime aux yeux et papilles plus aguerries.</p>
            <p>Vous pouvez retrouver l’épopée qui a découlé de cette idée jusqu’au lancement du bar sur le blog.</p>
            <a href="/blog/" class="btn btn-secondary">Voir le blog</a>
        </div>
    </div>

    <div class="citation">
        <blockquote>
            "Satisfaire votre curiosité & votre soif de découverte."
        </blockquote>
        <cite>— Sylvain Bauvais, créateur du Raising Hops</cite>
    </div>

    <div class="image-text-block reverse">
        <img src="/parfait_lancer.webp" width="550px" height="450px" loading="lazy" alt="Des gens qui boient un coup">
        <div class="info">
            <h2>Un bar parfait pour <br> se lancer</h2>
            <p>Les bars à bières proposent généralement un très large éventail de références, mais on ne sait jamais quoi choisir, et on se rabat sur ce que l’on connait déjà pour ne pas risquer de se tromper.</p>
            <p>Le Raising Hops se veut comme un moyen de commencer son exploration dans le monde de la bière artisanale, tout en étant accompagné pour ne pas s'y perdre.</p>
        </div>
    </div>
</section>

{{ end }}