{{ define "main" }}

<section class="about-page">
    <header class="page-header">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
    </header>

    <div class="image-text-block">
        <img src="/cfe152f67-carbon-neutral-brewery-img.webp" width="545px" height="445px" alt="Zoom sur une bière sombre">
        <div class="info">
            <h2>La vision derrière le Raising Hops</h2>
            <p>Le bar propose volontairement une sélection restreinte de bières pour que chacune d’elles puissent raconter son histoire et trouver la bouche et les papilles de celui qui pourra l’apprécier.</p>
            <p><b>La qualité plutôt que la quantité.</b></p>
        </div>
    </div>

    <div class="citation">
        <blockquote>
            "Satisfaire votre curiosité & votre soif de découverte."
        </blockquote>
        <cite>- Sylvain Bauvais, fondateur du Raising Hops</cite>
    </div>

    <div class="image-text-block reverse">
        <img src="/113d04e58ae5-invest-in-community-img.webp" width="545px" height="445px" loading="lazy" alt="Des gens qui boient un coup">
        <div class="info">
            <h2>Un bar parfait pour se lancer</h2>
            <p>Le Raising Hops se veut comme un moyen de commencer son exploration dans le monde de la bière artisanale, tout en étant accompagné pour ne pas se perdre dans la riche histoire de la bière.</p>
        </div>
    </div>

    <div class="image-text-block">
        <img src="/cfe152f67-carbon-neutral-brewery-img.webp" width="545px" height="445px" loading="lazy" alt="Zoom sur une bière sombre">
        <div class="info">
            <h2>Des produits locaux</h2>
            <p>Le bar propose des bières artisanales de la région pour mettre en avant le savoir-faire de nos brasseurs, et bénéficier de leurs richesse en nutriments et leur goûts uniques.</p>
        </div>
    </div>
</section>

{{ end }}