<!doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/favicon-180.png">

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ $style := resources.Get "css/main.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <script defer data-domain="raisinghops.fr" src="https://plausible.io/js/script.js"></script>
</head>

<body>

    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}

        {{ end }}
    </main>

    {{ partial "footer.html" . }}

</body>

</html>