{{ define "main" }}

<section class="page">
    <header class="page-header">
        <h1>La carte</h1>
        <p>Dégustation de bières artisanales, brasseries indépendantes, lieu de découvertes.</p>
    </header>

    <div class="cta-list">
        <a href="#pression" class="btn btn-primary">🍺 Bières pression</a>
        <a href="#canette" class="btn btn-primary">🍻 Bières en bouteille</a>
        <a href="#cocktail" class="btn btn-primary">🍸 Cocktail</a>
        <a href="#vin" class="btn btn-primary">🍷 Vin</a>
        <a href="#spirit" class="btn btn-primary">🥃 Spiritueux</a>
        <a href="#soft" class="btn btn-primary">🧃 Sans alcool</a>
        <a href="#encas" class="btn btn-primary">🥑 En-cas</a>
    </div>

    <hr id="pression">

    <div class="menu-category">
        <div class="menu-item-header">
            <h2>🍺 Bières pression</h2>
            <p>25cl</p>
            <p>50cl</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Wheat</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>Malt de blé, jolie robe etc</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Pils - La bise (5.4°)</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>Houblonnée et amère</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>IPA</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>Houblonnée et amère</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Gose</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>Houblonnée et amère</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Lager</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>Houblonnée et amère</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Lydéric Triple</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>La triple, merci les belges</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Stout</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>Stout</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Porter</h3>
                <p>4€</p>
                <p>7€</p>
            </div>
            <p>Porter</p>
        </div>
    </div>

    <hr id="canette">

    <div class="menu-category">
        <h2>🍻 Bières en bouteille</h2>
        <div class="menu-item">
            <div class="menu-item-header">
                <div class="menu-item-list">
                    <h3>Les Trappistes</h3>
                    <ul>
                        <li>Chimay bleue</li>
                        <li>Trappe Quadrupel</li>
                        <li>Westmalle</li>
                        <li>Orval</li>
                        <li>Mont des Cats</li>
                    </ul>
                </div>
                <p>6,50€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <div class="menu-item-list">
                    <h3>Les incontournables</h3>
                    <ul>
                        <li>St Bernardus Triple</li>
                        <li>St Bernardus brune 12°</li>
                        <li>Celestin 10</li>
                    </ul>
                </div>
                <p>6,50€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
    </div>

    <hr id="cocktail">

    <div class="menu-category">
        <h2>🍸 Cocktail</h2>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Gin Basil Smash</h3>
                <p>8€</p>
            </div>
            <p>Ginger beer, gin (6cl), jus de citron, glace.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Moscow Mule</h3>
                <p>8€</p>
            </div>
            <p>Gin (6cl), sirop de basilic fait maison, jus de citron, glace.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Jamaican Mule</h3>
                <p>8€</p>
            </div>
            <p>Rhum (6cl), sirop de basilic fait maison, jus de citron, glace.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Gin-gin Mule</h3>
                <p>8€</p>
            </div>
            <p>Gin (6cl), sirop de basilic fait maison, jus de citron, glace.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Jackie Welles</h3>
                <p>8€</p>
            </div>
            <p>Vodka (6cl), ginger beer, jus de citron, glace.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Johnny Silverhand</h3>
                <p>8€</p>
            </div>
            <p>Tequila (6cl), bière blanche, Angostura, glace.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <div class="menu-item-list">
                    <h3>Shooters (2cl)</h3>
                    <ul>
                        <li>Violetta (Sirop de violette, cognac)</li>
                        <li>Le téton qui pointe (Gingembre, vodka, chartreuse verte)</li>
                    </ul>
                </div>
                <p>3€</p>
            </div>
            <p>Et seulement 15€ pour 6 shooters ! (1 gratuit)</p>
        </div>
    </div>


    <hr id="vin">

    <div class="menu-category">
        <h2>🍷 Vin</h2>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Rosé</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Chardonnay</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Rouge</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Pétillant</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
    </div>

    <hr id="spirit">

    <div class="menu-category">
        <h2>🥃 Spiritueux</h2>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Fleur de bière</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Gin</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Rhum</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Whisky</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Genièvre de Houlle 42°</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Cognac</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Vodka</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Tequila</h3>
                <p>6€</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risu</p>
        </div>
    </div>

    <hr id="soft">

    <div class="menu-category">
        <h2>🧃 Sans alcool</h2>
        <div class="menu-item">
            <div class="menu-item-header">
                <div class="menu-item-list">
                    <h3>Jus de fruits</h3>
                    <ul>
                        <li>Pomme</li>
                        <li>Pomme & rhubarbe</li>
                        <li>Pomme & cassis</li>
                        <li>Poire</li>
                    </ul>
                </div>
                <p>4€</p>
            </div>
            <p>Tous les jus de fruits sont bio et fabriqués dans la région. Rien n’est trop beau pour vous.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Limonade</h3>
                <p>4€</p>
            </div>
            <p>Naturelle, fraiche, pétillante. Fabriquée dans le Nord !</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Eau gazeuse</h3>
                <p>4€</p>
            </div>
            <p>Eau minérale naturelle des Vosges du Nord. Rien de mieux pour bien digérer.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Ginger beer</h3>
                <p>5€</p>
            </div>
            <p>La (presque) bière, sans alcool et à base de gingembre. Vous allez l’adorer.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Club maté</h3>
                <p>5€</p>
            </div>
            <p>Ce petit goût de thé qui vous fera voyager.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <div class="menu-item-list">
                    <h3>Sirops</h3>
                    <ul>
                        <li>Citron</li>
                        <li>Grenadine</li>
                        <li>Menthe</li>
                        <li>Violette</li>
                    </ul>
                </div>
                <p>5€</p>
            </div>
            <p>Pour donner un goût délicieux à votre limonade ou votre verre d’eau !</p>
        </div>
    </div>

    <hr id="encas">

    <div class="menu-category">
        <h2>🥑 En-cas</h2>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Nachos & guacamole</h3>
                <p>8€</p>
            </div>
            <p>Fait maison chaque midi pour vous éponger régaler.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Nachos au cheddar</h3>
                <p>8€</p>
            </div>
            <p>Pareil que pour le guacamole, en plus gras.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Bruschetta</h3>
                <p>6€</p>
            </div>
            <p>Eau minérale naturelle des Vosges du Nord. Rien de mieux pour bien digérer.</p>
        </div>
        <div class="menu-item">
            <div class="menu-item-header">
                <h3>Saucisson</h3>
                <p>6€</p>
            </div>
            <p>La (presque) bière, sans alcool et à base de gingembre. Vous allez l’adorer.</p>
        </div>
    </div>
</section>

{{ end }}