<header class="main-header">
	<nav class="navigation">
		<a href="{{ .Site.BaseURL }}/">
			<img src="/favicon-180.png" width="64px" height="64px" alt="Logo" class="logo">
		</a>
		<div class="nav-list" hidden>
			<div class="nav-item"><a href="/">Accueil</a></div>
			<div class="nav-item"><a href="/menu/">La carte</a></div>
			<div class="nav-item"><a href="/about/">À propos</a></div>
			<div class="nav-item"><a href="/blog/">Blog</a></div>
			<div class="nav-item"><a href="#" class="btn btn-primary">Réserver</a></div>
		</div>
		<button aria-expanded="false" aria-controls="menu">
			<svg id="i-menu" aria-label="Menu" viewBox="0 0 32 32" fill="currentcolor" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1px">
				<path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24"></path>
			</svg>
		</button>
	</nav>
</header>