{{ define "main" }}
<section class="hero image-text-block">
    <div class="hero-info">
        <h1>Le <span class="yellow">Raising Hops</span>, <br> votre bar à bières</h1>
        <p>Votre bar à bières au centre de Lille pour découvrir et déguster des bières artisanales dans une ambiance chaleureuse.</p>
        <a href="/menu/" class="btn btn-primary">Découvrir la carte</a>
    </div>
    <img src="/cfe152f67-carbon-neutral-brewery-img.webp" width="545px" height="445px" alt="Sylvain Bauvais, créateur du Raising Hops devant son bar" loading="lazy">
</section>

<!--
<section class="annonce">
    <span>Ouverture du bar le 15 mai ! &emsp;</span>
    <span>Ouverture du bar le 15 mai ! &emsp;</span>
    <span>Ouverture du bar le 15 mai ! &emsp;</span>
    <span>Ouverture du bar le 15 mai ! &emsp;</span>
</section>
-->

<section class="services">
    <div class="image-text-block">
        <img src="/cfe152f67-carbon-neutral-brewery-img.webp" width="545px" height="445px" loading="lazy" alt="Zoom sur une bière sombre">
        <div class="info">
            <h2>La philosophie derrière le Raising Hops</h2>
            <p>Le bar propose une sélection de bières de qualité supérieure, sélectionnées pour leur goût et leur caractère distinctif. <br> L’objectif est de proposer une liste restreinte de bières afin de laisser à chacune l’opportunité de raconter son histoire.</p>
            <a href="/about/" class="btn btn-secondary">Découvrir notre histoire</a>
        </div>
    </div>
    <div class="image-text-block reverse">
        <img src="/113d04e58ae5-invest-in-community-img.webp" width="545px" height="445px" loading="lazy" alt="Des gens qui boient un coup">
        <div class="info">
            <h2>Un bar au centre de Lille</h2>
            <p>Le bar offre une ambiance accueillante et chaleureuse, et accompagne les clients dans l’univers de la bière artisanale pour leur offrir une expérience de dégustation unique.</p>
            <p>Le bar peut également organiser des événements spéciaux, tels que des dégustations de bières ou des soirées à thème.</p>
            </p>
        </div>
    </div>
    <div class="image-text-block">
        <img src="/d390e535ad2d2d679f7-organic-beer-img.webp" width="545px" height="445px" loading="lazy" alt="Bières sur une table">
        <div class="info">
            <h2>La carte du bar</h2>
            <p>La carte est composée uniquement de produits locaux et de qualité, et vous propose diverses bières en pression ou boutezille, des cocktails, du vin, spiritueux et encas pour accompagner.</p>
            <a href="/menu/" class="btn btn-secondary">Voir la carte</a>
        </div>
    </div>
    <div class="image-text-block reverse">
        <img src="/113d04e58ae5-invest-in-community-img.webp" width="545px" height="445px" loading="lazy" alt="Des gens qui boient un coup">
        <div class="info">
            <h2>Horaires d'ouverture</h2>
            <p>Le Raising Hops vous ouvre ses portes du mardi au samedi jusqu'à 2h00 du matin.</p>
            <div class="schedules">
                <div class="row">
                    <p>Mardi</p>
                    <div class="opening-hours">
                        <div>16h00</div>
                        <span>-</span>
                        <div>00h00</div>
                    </div>
                </div>
                <div class="row">
                    <p>Mercredi</p>
                    <div class="opening-hours">
                        <div>16h00</div>
                        <span>-</span>
                        <div>00h00</div>
                    </div>
                </div>
                <div class="row">
                    <p>Jeudi</p>
                    <div class="opening-hours">
                        <div>16h00</div>
                        <span>-</span>
                        <div>01h00</div>
                    </div>
                </div>
                <div class="row">
                    <p>Vendredi</p>
                    <div class="opening-hours">
                        <div>16h00</div>
                        <span>-</span>
                        <div>02h00</div>
                    </div>
                </div>
                <div class="row">
                    <p>Samedi</p>
                    <div class="opening-hours">
                        <div>16h00</div>
                        <span>-</span>
                        <div>02h00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <h2 id="contact">Nous contacter</h2>
    <p>Envie de réserver une table, ou simplement nous poser une question ?</p>
    <a href="tel:+03.20.40.50.60" class="btn btn-primary">Nous contacter</a>
</section>
{{ end }}